<h1>Crew cut</h1>
<p>A crew cut is a type of haircut in which the hair on the top of the head is cut relatively short, graduated in length from the longest hair that forms a short pomp(pompadour) at the front hairline to the shortest at the back of the crown. The hair on the sides and back of the head is usually tapered short, semi-short or medium.</p>
