<h1>Dreadlocks</h1>
<p>The hair is 'dreadlocked' into individual sections using one of several methods, usually either backcombing, braiding, hand rolling, or locking in the roots. Dreadlocks can vary in size, tightness, and length. Dreadlocks are associated most closely with Rastafarians.</p>
