<h1>List of Hairstyles</h1>
<p>Hairstyles fascinate me because for some strange reason, a lot of people feel different about themselves about going to the hairdresser's or barber's. </p>
<p>Having their hair done shapes their confidence, mood, personality etc. My theory is that these people are thinking about how other people are perceiving their hairstyles based on what they themselves think of their hairstyles.</p>



